div(id="footer")
    div(id="bottom-tip")
        喜欢我就“喵”一下～ ~(=^･ω･^)ﾉ☆
    div(id="bottom-nav")
        a(href="#") 帮助
        &nbsp;|&nbsp;
        a(href="#") 关于
        &nbsp;|&nbsp;
        a(href="http://kacaka.ca", target="_blank") About ZSG
        &nbsp;|&nbsp;
        a(href="https://github.com/XadillaX/xtodemo", target="_blank") 项目主页
        &nbsp;|&nbsp;
        a(href="#") 开放API
    small &copy;2013 XadillaX

